article.cart.items.index {
  .row {
    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    table.table {
      font-size: 16px;

      td.clean-icon {
        text-align: center;
      }

      td.cart-item-amount {
        .amount-update {
          margin-top: 10px;
        }
      }

      span {
        i {
          font-size: 20px;
        }
      }
    }

    .cart.total {
      font-size: 20px;
      font-weight: bolder;
      font-family: monospace;
      text-align: right;

      span#cart_index_price {         
        color: #509C04;        
      }
    }

    .cart-clean {
      margin-bottom: 25px;
      font-size: 18px;

      a {
        border: 1px solid #1F64E2;
        background-color: #FFEB3B;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
        color: #31708f;
      }
    }
  }
}